<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">

				<li><a href="https://www.facebook.com/Guia-Al%C3%ADpio-273412603060155/?fref=ts" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/guiaalipio/?hl=pt-br" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Guia Alípio</li>
				<li> Site produzido por <a href="http://kavecode.com.br/">kavecode</a></li>
			</ul>
		</div>
	</footer>
</div>

  <!-- JS -->
  <!-- inject:js -->
  <!-- endinject -->
<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
