<div class="jcarousel-wrapper">
    <div class="jcarousel highlight">
        <section id="one" class="tiles -highlight">
          {% for post in site.posts limit:site.tiles-count %}
            {% if post.highlight != null %}
              {% include tile.html %}
            {%endif%}
          {% endfor %}
        </section>
        
        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>

    </div>
</div>

<section id="one2" class="tiles">
  {% for post in site.posts limit:site.tiles-count %}
    {% if post.highlight == null %}
      {% include tile.html %}
    {%endif%}
  {% endfor %}
</section>
