---
layout: default
---

<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
    <div class="inner">
        <header class="major">
            <h1>{{ page.title }}</h1>
        </header>
        <!-- {% if page.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>{% endif %} -->

        <div class="row">

            <div class="6u 12u(small)" >

                <div class="box alt">
                    <div class="row 50% uniform">
                        <div class="12u">
                            <span class="image fit">
                                <a href="/assets/images/home/originais/{{ page.image }}" data-lightbox="image-1" data-title="{{alt}}">
                                    <img src="/assets/images/home/originais/{{ page.image }}" alt="{{alt}}" />
                                </a>
                            </span>
                        </div>
                        {% for foto in page.fotos %}
                        {% assign url = foto | split:" " | first%}
                        {% assign alt = foto | replace_first:url | strip %}
                        {% if forloop.index == 1 %}
                        <div class="12u">
                        {% else %}
                        <div class="4u">
                        {% endif %}
                            <span class="image fit">
                                <a href="{{url}}" data-lightbox="image-1" data-title="{{alt}}">
                                    <img src="{{url}}" alt="{{alt}}" />
                                </a>
                            </span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <div class="post 6u 12u(small)" >
                {{ content }}
            </div>

        </div>
    </div>
</section>

</div>

<!-- Contact -->
<section id="contact">
    <div class="inner">
        <section>
            <div id="map"></div>
        </section>
        <section class="split">
            {% if page.e-mail != nil %}
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-envelope"></span>
                    <h3>Email</h3>
                    <a href="#">{{ page.e-mail }}</a>
                </div>
            </section>
            {% endif %}
            {% if page.telefone != nil %}
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-phone"></span>
                    <h3>Telefone</h3>
                    <span>{{ page.telefone }}</span>
                </div>
            </section>
            {% endif %}
            {% if page.endereco != nil %}
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-home"></span>
                    <h3>Endereço</h3>
                    <span>{{ page.endereco }}</span>
                </div>
            </section>
            {% endif %}
        </section>
    </div>
</section>
<script>
  function initMap() {
    var uluru = {lat: -19.8925797, lng: -44.0196499};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW0etYWTU4sk8VOcxldeKU-WjAscOApEk&callback=initMap">
    </script>
